<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>A senior software engineer is a professional who applies engineering principles to the design,development,maintenance,testing and evaluation of computer science.</p>
<li>
    <ol type="A ">
        <li>Countries</li>
        <ul type="square">
            <li>Kenya</li>
            <li>South Africa</li>
            <li>England</li>
            <li>France</li>
            <li>South Korea</li>
        </ul>
    </ol>
</li>

</body>
</html>